@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to UAI Bank</h1>
    <p class="lead">The number one bank for college students accounts</p>
    <p><a href="/BankAccount/Index" class="btn btn-primary btn-lg">Start &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            UAI Bank enables you to create, manage and operate your college accounts in a easy, clean and friendly way.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Account information</h2>
        <p>You can see all your accounts data, your account balance and transfer history you may have done.</p>
    </div>
    <div class="col-md-4">
        <h2>Operate</h2>
        <p>You can deposit, extract, transfer and turn money between accounts very easy and safe</p>
    </div>
</div>